 .card { 
    border: 1px solid hsl(0, 1%, 84%); 
    border-radius: 10px; 
    padding: 16px; 
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1); 
    max-width: 300px; 
    margin: 10px;
    display: inline-block;
 }
 
 .card .card-image {
    max-width: 70%;
    height: auto;
    border-radius: 40%;
    margin-bottom: 10px;
 }

 .card .card-title {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
 }

 .card .card-text {
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 40%);
 }

 .student {
    font-family: Arial, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid hsla(200, 70%, 50%, 0.8);
 }

 .student p {
    margin: 0;
 }
